@model SkolaWebAppGoran.Models.SeminarViewModel

<h2>Kreirajte Novi Seminar:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class= "form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Naziv, "Naziv:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, "Opis:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Datum, "Datum:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" } })  
                @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Popunjen, "Popunjen:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Popunjen", Model.Popunjen ?? true)                 
                    @Html.ValidationMessageFor(model => model.Popunjen, "", new { @class = "text-danger" })
                </div>                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedZaposlenikId, "Zaposlenik:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedZaposlenikId", Model.Zaposlenici, "- Odaberi Zaposlenika -", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedZaposlenikId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-success" />
            </div>
        </div>
      </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "SeminariEdit", null, new { @class="btn btn-primary"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
